        {% extends 'template.html' %}
        {% block content %}
        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Nome</th>
                    <th>Categoria</th>
                    <th>Plataforma</th>
                    <th>Editar</th>
                    <th>Deletar</th>
                </tr>
            </thead>
            <tbody>
                {% for jogo in jogos %}
                <tr>
                    <td>{{ jogo.nome }}</td>
                    <td>{{ jogo.categoria }}</td>
                    <td>{{ jogo.plataforma }}</td>
                    <td><a href="{{ url_for('verifica_edita', id=jogo.id) }}">Editar</a></td>
                    <td><a href="{{url_for('delete_game', id=jogo.id)}}">Deletar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endblock %}
